#body{
    height: 100vh;
    overflow: auto;
}
.card {
    display: grid;
    top: 100px;
    border-left: none;
    border-bottom: 4px solid rgb(221, 217, 217);
    border-right: 4px solid rgb(221, 217, 217);
    border-top: 4px solid rgb(221, 217, 217);
    border-radius: 20px;
    height: 350px;
    cursor: pointer;

}

  .cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 2em;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .card:hover{
    border-color: red;
    transition: 1s;
  }

.spacer {
    height: 170px;
  }
  .card-title{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
  }

  .card-body{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
  }

  img{
    margin-top: 35px;
    width: 220px;
    height: 200px;
  }

 #driverLastName{
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  margin-right: 7px;
  }

  #driverNumber{
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: black;
  }