<div id="navbar">
    <div>
    <a class="navbar-brand" href="http://127.0.0.1:5500/index.html">
        <img id="f1Logo" src="../../assets/f1.png" alt="F1 logo">
    </a>
    </div>
    <ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
        style="color: white;">F1</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fiaformula2.com/">F2</a></li>
        <li><a class="dropdown-item" href="https://www.fiaformula3.com/">F3</a></li>
        <li><a class="dropdown-item" href="https://www.fiaformulae.com/en">FE</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/drivers">Drivers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.formula1.com/en/racing/2024.html">Races</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
    </ul>
    <ul class="nav ml-auto">
    <li id="loginB" class="nav-item">
        <a class="nav-link" id="login" href="#">Login</a>
    </li>
    </ul>
    <div>
    <a class="navbar-brand" href="#">
        <img id="userLogo" src="../../assets/user_747376.png" alt="user logo">
    </a>
    </div>
</div>

<div id="footer">
    <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="#">Rolex</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pirelli</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Aramco</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Heineken 0.0</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">DHL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Qatar Airways</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">AWS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Crypto.com</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">MSC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Salesforce</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Paramount+</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Lenovo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">FERRARI</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">LIQUI MOLY</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PUMA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">BBS</a>
    </li>
    </ul>
</div>

