#body {
    margin: 0;
    background-image: url("../../assets/wallpaper.png");
    background-size:  100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
   }
   

#form{
    padding-top: 80px;
    width: 40%;
    margin-left: 100px;
}

#tellUs{
    color: gold;
    text-align: center;
    margin-bottom: 25px;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.form-control{
    background-color: transparent !important;
    color: gold !important;
}
::placeholder{
    color: gold !important;
}

button.btn.btn-warning{
    text-align: center;
    margin-top: 20px;
    padding: 5px 50px;
    width: 100%;
}
