<div id="body">
    <div id="form">
        <h1 id="tellUs">Tell us what you think!</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Name" aria-label="Your Name" aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="basic-addon1" required>
          </div>
          
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon1" required>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1" required>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Village" aria-label="Village" aria-describedby="basic-addon1">
          </div>

          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" placeholder="Your message" rows="3" required></textarea>
          </div>

          <button type="submit" class="btn btn-warning">Submit</button>

    </div>
</div>
