<div id="body">
    <div id="navbar">
        <div>
        <a class="navbar-brand" href="http://127.0.0.1:5500/index.html">
            <img id="f1Logo" src="../../assets/f1.png" alt="F1 logo">
        </a>
        </div>
        <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
            style="color: white;">F1</a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.fiaformula2.com/">F2</a></li>
            <li><a class="dropdown-item" href="https://www.fiaformula3.com/">F3</a></li>
            <li><a class="dropdown-item" href="https://www.fiaformulae.com/en">FE</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.formula1.com/en/drivers.html">Drivers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.formula1.com/en/teams.html">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.formula1.com/en/racing/2024.html">Races</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        </ul>
        <ul class="nav ml-auto">
        <li id="loginB" class="nav-item">
            <a class="nav-link" id="login" href="#">Login</a>
        </li>
        </ul>
        <div>
        <a class="navbar-brand" href="#">
            <img id="userLogo" src="../../assets/user_747376.png" alt="user logo">
        </a>
        </div>



    </div>

    <div id="articol1div">
        <h3 id="firsth">
        Verstappen surges to pole position for the Australian Grand Prix ahead of Sainz and Perez
        </h3>
        <img id="verPole" src="../../assets/verPOLE.jpg" alt="VER in Pole">
    </div>

    <div class="card" id="articol2div">
        <img src="../../assets/ricciardo.png" class="card-img-top" style="width: 100.5%;" alt="Daniel Ricciardo">
        <div class="card-body">
        <p class="card-text">FACTS AND STATS: Ricciardo's first ever Q1 exit in Melbourne spoils the Australian's
            homecoming</p>
        </div>
    </div>

    <div class="card" id="articol3div">
        <img src="../../assets/leclerc.jpg" class="card-img-top" style="width: 100.5%;" alt="Charles Leclerc">
        <div class="card-body">
        <p class="card-text">What happened with Leclerc's qualifying pace from Practice?</p>
        </div>
    </div>

    <div class="card" id="articol4div">
        <img src="../../assets/ausgp.jpg" class="card-img-top" style="width: 100.5%;" alt="AUSGP">
        <div class="card-body">
        <p class="card-text">AS IT HAPPENED: Follow all the action from qualifying for the Australian Grand Prix</p>
        </div>
    </div>

    <div class="card" id="articol5div">
        <img src="../../assets/hadjar.jpg" class="card-img-top" style="width: 100.5%;" alt="Isack Hadjar">
        <div class="card-body">
        <p class="card-text">F2: Hadjar victorious after leading every lap of Melbourne Sprint</p>
        </div>
    </div>

    <div id="footer">
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Rolex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pirelli</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Aramco</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Heineken 0.0</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">DHL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Qatar Airways</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">AWS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Crypto.com</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">MSC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Salesforce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Paramount+</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lenovo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FERRARI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">LIQUI MOLY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PUMA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">BBS</a>
        </li>
        </ul>
    </div>
</div>