<div id="body">
    <div id="articol1div">
        <h3 id="firsth">
        Verstappen surges to pole position for the Australian Grand Prix ahead of Sainz and Perez
        </h3>
        <img id="verPole" src="../../assets/verPOLE.jpg" alt="VER in Pole">
    </div>

    <div class="card" id="articol2div">
        <img src="../../assets/ricciardo.png" class="card-img-top" style="width: 100.5%;" alt="Daniel Ricciardo">
        <div class="card-body">
        <p class="card-text">FACTS AND STATS: Ricciardo's first ever Q1 exit in Melbourne spoils the Australian's
            homecoming</p>
        </div>
    </div>

    <div class="card" id="articol3div">
        <img src="../../assets/leclerc.jpg" class="card-img-top" style="width: 100.5%;" alt="Charles Leclerc">
        <div class="card-body">
        <p class="card-text">What happened with Leclerc's qualifying pace from Practice?</p>
        </div>
    </div>

    <div class="card" id="articol4div">
        <img src="../../assets/ausgp.jpg" class="card-img-top" style="width: 100.5%;" alt="AUSGP">
        <div class="card-body">
        <p class="card-text">AS IT HAPPENED: Follow all the action from qualifying for the Australian Grand Prix</p>
        </div>
    </div>

    <div class="card" id="articol5div">
        <img src="../../assets/hadjar.jpg" class="card-img-top" style="width: 100.5%;" alt="Isack Hadjar">
        <div class="card-body">
        <p class="card-text">F2: Hadjar victorious after leading every lap of Melbourne Sprint</p>
        </div>
    </div>

</div>